<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Skills</h1>
  <h2>Skill #<%= skill._id %></h2>
  <h3><%= skill.text %></h3>
  <p>Outdoors?: <%= skill.outdoors ? 'Yes' : 'No' %></p>
	<a href="/skills">Go Back</a>
  <a href="/skills/<%= skill._id %>/edit">Edit Skill</a>
  <h2>Skill # <%= skill._id %> </h2>
</body>
</html>