<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>...Do ya chores ya filthy animal</h1>
  <ul>
    <h1>Chores as of <%= time %></h1>
    <ul>
      <% chores.forEach(chore => { %>
        <li>
          <form action="/chores/<%= chore._id %>?_method=DELETE" class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
          <a href="/chores/<%= chore._id %>"><%= chore.name %>
          </a>
          -
        <%= chore.done ? 'Yes' : 'No' %>
        </li>
        <% }) %>
    </ul>
      <a href="/chores/new">Add New Chore</a>
      <a href="/">Go Back</a>
</body>
</html>