<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Document</title>
</head>
<body>
  <h1>Chores</h1>
  <h2><%= chore.name %> #<%= chore._id %></h2>
  <h3><%= chore.text %></h3>
  <p>Done?: <%= chore.done ? 'Yes' : 'No' %></p>
	<a href="/chores">Go Back</a>
  <a href="/chores/<%= chore._id %>/edit">Edit Chore</a>
  <h2><%= chore.name %> #<%= chore._id %> </h2>
</body>
</html>